Repository reinthal/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, uv-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types: [nix]
      - id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

# pre-commit.ci SaaS does not have our Nix environment so we skip Nix-packaged hooks
ci:
  skip: [nixfmt, uv-lock, ruff, ruff-format]

flake: Add git
  flake.nix
Due: nixfmt

Hackingdemo backports (#22)
  .envrc
  build.ninja
  pyproject.toml
Due: uv-lock

Add Claude PR Assistant workflow (#24)
  .github/workflows/claude.yml
Due: none

README: Add CODEOWNERS setup
  README.md
Due: none

README: Properly grant global-team access
  README.md
Due: none

feat(github-runner): add github runner
  .github/workflows/paper.yml
  .github/workflows/pre-commit.yml
Due: none

fix(github-runner): descriptive label
  .github/workflows/paper.yml
Due: none

fix(github-runner): use reinthal workflow instead
  .github/workflows/paper.yml
Due: none

Update pre-commit.yml with k8s-runner also
  .github/workflows/pre-commit.yml
Due: none

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

fix: remove non-used deployments
  flake.nix
Due: nixfmt

Create test-runner.yml
  .github/workflows/test-runner.yml
Due: none

Update test-runner.yml
  .github/workflows/test-runner.yml
Due: none

Update README.md
  README.md
Due: none

fix: update lock needs issues??? claude said it must be true" git add -u
  .github/workflows/update-flake-lock.yml
Due: none

initial commit
  .envrc
  .gitignore
  AGENTS.md
  CLAUDE.md
  devenv.lock
  devenv.nix
  devenv.yaml
  docs/CHINESE_QUESTIONS_README.md
  docs/MODAL_USAGE.md
  docs/log.md
  pyproject.toml
  report/arxiv.sty
  report/main.tex
  report/references.bib
  secrets.env
  uv.lock
Due: nixfmt, uv-lock

Convert to reusable template repo with PyTorch/CUDA, vLLM, Modal, and LaTeX
  .gitignore
  AGENTS.md
  CLAUDE.md
  devenv.lock
  docs/CHINESE_QUESTIONS_README.md
  docs/MODAL_USAGE.md
  docs/log.md
  main_modal.py
  pyproject.toml
  report/arxiv.sty
  report/main.tex
  report/references.bib
  secrets.env
  src/__init__.py
  src/__main__.py
  src/main.py
  uv.lock
Due: uv-lock

fix: add lock file
  devenv.lock
Due: none

feat: add sops to template
  .envrc
  .sops.yaml
  secrets.env
Due: none

feat: add CI/CD for version bumping and PDF release
  .github/workflows/bump-version.yml
  .github/workflows/release-pdf.yml
  pyproject.toml
Due: uv-lock

refactor: combine bump and PDF release into single workflow
  .github/workflows/bump-version.yml
  .github/workflows/release-pdf.yml
Due: none

fix: correct LaTeX root_file path in workflow
  .github/workflows/bump-version.yml
Due: none

docs: add readme.md
  .github/workflows/bump-version.yml
  README.md
Due: none
